@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>@ViewData["Title"]</h1>

<p>Welcome to CareerGraph Career Guidance Test Site - www.careertests.in ("Website"). This Privacy Policy outlines the manner in which we collect, use, and safeguard personal information gathered from users of our Website. Your privacy is important to us, and we are committed to protecting it.</p>

<h2>1. Information Collection</h2>

<h3>1.1 Personal Information:</h3>
<p>We may collect personal information such as your name, email address, contact number, and other relevant details when you register on our Website, subscribe to our newsletter, or fill out a form.</p>

<h3>1.2 Usage Information:</h3>
<p>We automatically collect certain information about your device and how you interact with our Website. This may include your IP address, browser type, operating system, pages visited, and referring URLs.</p>

<h2>2. Use of Information</h2>

<h3>2.1 Personal Information:</h3>
<p>We use the personal information you provide to personalize your experience on our Website, respond to your inquiries, send periodic emails (if you have opted-in to receive them), and administer contests, promotions, surveys, or other site features.</p>

<h3>2.2 Usage Information:</h3>
<p>We use usage information to analyze trends, administer the site, track users' movements around the site, and gather demographic information. This helps us improve our Website and tailor it to the needs of our users.</p>

<h2>3. Data Security</h2>

<p>We employ appropriate security measures to protect against unauthorized access, alteration, disclosure, or destruction of personal information collected on our Website. However, please be aware that no method of transmission over the internet or electronic storage is 100% secure, and we cannot guarantee absolute security.</p>

<h2>4. Cookies</h2>

<p>We may use cookies to enhance your experience on our Website. Cookies are small files stored on your computer's hard drive that enable us to recognize your browser and capture certain information. You may choose to set your browser to refuse cookies or alert you when cookies are being sent. However, some parts of the Website may not function properly without cookies.</p>

<h2>5. Third-Party Links</h2>

<p>Our Website may contain links to third-party websites. These third-party sites have their own privacy policies, and we are not responsible for the privacy practices or content of such sites. We encourage you to review the privacy policies of these sites before providing any personal information.</p>

<h2>6. Children's Privacy</h2>

<p>Our Website is not intended for children under the age of 10. We do not knowingly collect personal information from children under 10. If you are a parent or guardian and believe that your child has provided us with personal information, please contact us, and we will take steps to remove that information from our systems.</p>

<h2>7. Changes to this Privacy Policy</h2>

<p>We reserve the right to update or modify this Privacy Policy at any time. Any changes will be effective immediately upon posting the revised Privacy Policy on this page. We encourage you to review this page periodically for any updates.</p>

<h2>8. Contact Us</h2>

<p>If you have any questions or concerns about this Privacy Policy or our privacy practices, please contact us at subhashini@indiadecisionmanagement.com .</p>

<p>By using our Website, you consent to the terms of this Privacy Policy.</p>
