@{
    ViewData["Title"] = "Refund Policy";
}

<h1>@ViewData["Title"]</h1>

<p>Thank you for choosing CareerTests.in for the test / assessment. Please review our refund policy below:</p>

<h2>1. Refund for CareerGraph Career Guidance Program:</h2>
<p>We do not provide refunds for the CareerGraph Career Guidance Program once the service has been delivered, as we have already invested resources for its delivery.</p>

<h2>2. Multiple Payments:</h2>
<p>If a customer accidentally makes multiple payments for the same program due to system/internet issues or any other reason, we will promptly refund the extra amount. The refund will be issued using the same payment mode used for the transaction. Refunds will be processed within 7 working days, with a maximum of 15 working days in exceptional cases.</p>

<h2>Cancel and Return Policy:</h2>

<h3>1. Cancellations:</h3>
<p>Once payment for the Online test or CareerGraph Career Guidance Program is made and the service has been delivered, we do not allow cancellations. This is because we invest resources in advance to deliver our services effectively.</p>

<h3>2. Rescheduling:</h3>
<p>In special cases where a customer is unable to attend the scheduled program session and requests accommodation in the next upcoming session, we will reschedule the counselling.</p>

<p>For any queries or concerns regarding payment options or our refund policy, please feel free to contact us during our business hours:</p>

<ul>
    <li>Phone: +91 7349662320 (10:00 am - 6:00 pm IST; 6 days a week)</li>
    <li>Email: reachidm@gmail.com</li>
</ul>

<p>We are here to assist you and address any concerns you may have.</p>

<p>Thank you for your understanding and cooperation.</p>

<p>Sincerely,<br>Subhashini Sharma Tripathi<br>Managing Partner<br>India Decision Management<br>(This is a registered partnership firm; GST compliant legal entity)</p>
